extends small_header
block main-container
 .container
  h3 Производители
  <ul class='thumbnails'>
  for row in rows
   <li class='span3'>
   <div class='thumbnail'>
   -if(!row.images)
    a(href='/producers/view/#{row._id}')<img src='http://dribbble.s3.amazonaws.com/users/5259/screenshots/71084/shot_1288164080.jpg'/>
   -else
    a(href='/producers/view/#{row._id}')<img src='/images/producers/#{row.images[0].image_name}'/>
   <div class='caption'>

   h3.producer_list_name
    a(href='/producers/view/#{row._id}')!{row.producer_name}
   </div>
   
   p
  
   </div>
   </li>
  </ul>